/***************************
  SECTION: PORTFOLIO GALLERY
****************************/

#port-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: $off-white;
    color: $lightest-grey;

    p {
      margin: 0;
      padding: 5%;
      font-size: 0.75em;
      color: $neutral-grey;
    }
  }
}