@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
// @import url('https://fonts.googleapis.com/css?family=League+Script');

/***************************
  FONT VARIABLES
****************************/
$header-font: 'Roboto Slab', sans-serif;
$body-font: 'Open Sans', sans-serif;

/***************************
  MIXINS
****************************/

@mixin breakpoint($point) {
  @if $point == large {
    @media all and (min-width: 1025px) { @content; }
  }
  @else if $point == medium {
    @media all and (min-width: 992px) and (max-width: 1024px) { @content; }
  }
  @else if $point == mobile {
    @media all and (max-width: 991px)  { @content; }
  }
}

/***************************
  COLOR VARIABLES
****************************/

$neutral-black: #000;
$neutral-white: #fff;
$neutral-grey: #737373;
$dark-grey: #2b3a42;
$light-grey: #999;

$md-green: #6ab47b;
$dusty-green: #599a68;
$dark-green: #32673f;