body {
  font-family: $sans-serif;
  background-color: $neutral-white;
  color: $neutral-grey;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $serif;
}

h1,
h2 {
  color: $neutral-white;
}

nav {
  ul {
    list-style: none;
  }
}

a {
  color: $md-green;
  text-decoration: none;
}