body {
  font-family: $body-font;
  background-color: $neutral-white;
  color: $neutral-grey;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
}

nav {
  ul {
    list-style: none;
  }
}

a {
  color: $md-green;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/***************************
  MAIN CONTENT CONTAINER
****************************/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}